h1{
    font-size: clamp(28px,6vw,70px);
    color: aqua;
    padding: 20px;
    text-align: center;
    height: 30px;
}

h2{
    font-size: clamp(14px,3vw,35px);
    text-align: center;
    padding: 80px;
    height: 20px;
}

h3{
    margin: 20px;
    text-decoration: underline;
}

#setu{
    padding: 20px;
    font-size: clamp(7px,3vw,25px);
}

img{
    padding: 20px;
    
}

.box1{
    display: flex;
    margin: 20px;
    background-color: rgba(91, 255, 255, 0.4);
    border-radius: 20px;
}

footer{
    padding: 40px;
    text-align: center;
    background-color:rgb(244, 242, 239);
    color:black; 
}

.fin{
    font-size: clamp(8px,4vw,26px);
    margin: 50px;
    text-align: center;
    color: red;
    text-decoration: underline;
}

#a{
    color: red;
}
#b{
    color: rgb(177, 177, 26);
}
#c{
 color: green;
}
#d{
 color: rgb(18, 18, 199);
}
#sam{
    text-align: center;
}
